//colors
$AB-BROWN: #2f2926;
$AB-PINK: #f3e4e1;
$AB-ORANGE: #e5674e;
$AB-DARK-GREEN: #0e927d;
$AB-LIGHT-GREEN: #58bf94;

$AB-WHITE: #ffffff;
$AB-INTRO: #38846d;

$START-PAGE-BG: $AB-INTRO;
$MENU-PAGE-BG: $AB-PINK;
$NAV-PAGE-BG: AB-BROWN;
$STATUS-PAGE-BG: $AB-ORANGE;
$TEXT-DARK: $AB-BROWN;
$TEXT-LIGHT: $AB-WHITE;
$BUTTON-DARK-BG: $AB-BROWN;
$BUTTON-DARK-TXT: $AB-WHITE;
$BUTTON-LIGHT: $AB-WHITE;

// font
$PT-SERIF: 'PT Serif', serif;
$RUFINA: 'Rufina', serif;
$WORK-SANS: 'Work Sans', sans-serif;
