.header__wrapper {
  height: 113px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  position: relative;
}
