* {
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.6;
  font-size: 62.5%;
}

body {
  font-family: $PT-SERIF;
  font-family: $RUFINA;
  font-family: $WORK-SANS;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
}
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}
