.menu__wrapper {

    background-color: #F3E4E1;
    font-family: $PT-SERIF;
    width: 100%;
}

.menu__section{
    margin-left: 3rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 20px 245px 100px;
    width: 80%;
}


.menu__wrapper > h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.menu__wrapper > .menu__section > h2 {
font-size: 23px;
font-weight: 700;
line-height: 28px;
text-align: left;

}


.menu__item {
margin-left: 1.5rem;


}

.menu__description {
margin-left: 6.7rem;
margin-top: -0.5rem;
margin-bottom: 1rem;
color: #2F2926;
font-family: Work Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;


}

.menu__button {
    background-color: #2F2926;
    height: 22px;
    width: 22px;
    border-radius: 50px;
    margin-top: 1rem;    
}

